# Credenciais
RDS_DB_URL=postgresql://usuario:senha@host:5432/database

OPENAI_API_KEY=sk-sua-chave-openai

AWS_ACCESS_KEY_ID=AKIASEUACCESSKEY
AWS_SECRET_ACCESS_KEY=sua-aws-secret-key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=meu-bucket

