# Credenciais
RDS_DB_URL=postgresql://usuario:senha@host:5432/database

OPENAI_API_KEY=sk-sua-chave-openai

AWS_ACCESS_KEY_ID=AKIASEUACCESSKEY
AWS_SECRET_ACCESS_KEY=sua-aws-secret-key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=meu-bucket

PAGE_BATCH_SIZE=100
PROCESSAR_IMAGENS=true
OCR_WORKERS=4
VISION_CONCURRENCY=20
OCR_MIN_CHARS=80
MIN_IMAGE_AREA=10000
MIN_IMAGE_SIDE=80
MAX_ASPECT_RATIO=8.0
MODO_ANALISE=false
